<div class="container">
  <mat-card>
    <h2 id="tableLabel">Sorteio de Habitação</h2>
    <h1>Ganhadores do Sorteio</h1>
  </mat-card>

  <h2 style="margin-top: 8px;">Parabéns aos Ganhadores!</h2>

  <div *ngIf="ganhadoresSorteio">
    <mat-card *ngFor="let ganhadores of ganhadoresSorteio | keyvalue">
      <h2>Ganhador lista <b>{{ganhadores.key}}</b></h2>
      <h3 style="color: blue;" *ngFor="let ganhador of ganhadores.value">{{ganhador.cpf | cpfMask}} - {{ganhador.nome}}</h3>
    </mat-card>
  </div>
</div>
