<div class="container">
  <mat-card>
    <h1 id="tableLabel">Sorteio de Habitação</h1>
    <h2>Listas dos Participantes do Sorteio</h2>
    <p>Total de participantes: {{ pessoas.length }}</p>
  </mat-card>

  <div class="form-container">
    <div class="form-file">
      <div>
        <button type="button" mat-raised-button (click)="fileInput.click()">Escolha o arquivo...</button>
        <input hidden (change)="onFileChange($event)" #fileInput type="file" accept=".xlsx, .xls">
        <span class="file-name">{{file?.name ?? 'Nenhum arquivo selecionado...'}}</span>
      </div>

      <div>
        <button mat-raised-button (click)="onUpload()">Adicionar Pessoas</button>
        <button style="margin-left: 8px;" mat-raised-button (click)="onClear()">Limpar Pessoas</button>
      </div>
    </div>


    <button mat-raised-button (click)="RealizarSorteio()">Realizar Sorteio</button>
  </div>


  <mat-tab-group>
    <mat-tab *ngFor="let cota of pessoasPorCota | keyvalue" [label]="cota.key">
      <table class="tabela">
        <thead>
          <tr>
            <th>CPF</th>
            <th>Nome</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pessoa of cota.value">
            <td>{{pessoa.cpf | cpfMask}}</td>
            <td>{{pessoa.nome}}</td>
          </tr>
        </tbody>
      </table>
    </mat-tab>
  </mat-tab-group>
</div>
