:host {
  display: block;
}

.container {
  margin: 0 auto;
  width: 80%;
  padding: 20px;
}

.form-container {
  display: flex;
  padding: 8px;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: end;
}

.form-file {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}

.file-name {
  margin-left: 1rem;
}

.tabela {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

  .tabela th, .tabela td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .tabela th {
    background-color: #f2f2f2;
    color: black;
  }

  .tabela tr:hover {
    background-color: #f5f5f5;
  }

mat-card {
  padding: 1rem;
}
